@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

button:hover{
  transition: .3s ease;
}

::-moz-selection {
    /* Code for Firefox */
    color: #0f0d06;
    background: #c2870c;
}

::selection {
    color: #0f0d06;
    background: #c2870c;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
::-webkit-scrollbar-thumb {
    background: rgba(184, 135, 11, 0.2);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(205, 151, 13, 0.8);
}
* {
    background-color: #0f0d06;
    box-sizing: border-box;
    color: #c2870c;
    padding: 0%;
    margin: 0;
    font-family: "Lilita One", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0%;
}
body {
    overflow: overlay;
}
